h1{
    color:beige;
    background:color black;
    font-size: 50px;
}
h2{
    color:beige;
    background:color rgb(56, 45, 56);
    font-size: 50px;
    text-align:center;
}

h3{
    color:darkslateblue;
    background:lightblue;
    font-size: 50px;
    text-align: right;
}